.jumbotron{
    color: #DC143C;
    margin: auto;
    text-align: center;
    // border: 10px solid #DCDCDC;
    // border-top: 14px solid #DCDCDC;
    border-radius: 30px;
    padding: 40px;
    width: 60%;
    box-shadow: 2px 2px 3px #EEEEEE;
}