@import 'mixins';
@import '_couleurs';

$bkg_color: #000000;
$title_color :#808080;

h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 40px;
}
body{
    background-color: $bkg_color;
    font-family: 'Open Sans', sans-serif;
}


@function calculHauteur($largeur){
    @return $largeur * 2;
}

// div {
//     width: 250px;
//     height: calculHauteur(250px);
// }
